# Environment
.env
.env.*

!.env.example

# Python
venv/
__pycache__/
*.pyc

# Data
data/raw/*
data/archive/*

!data/raw/.gitkeep
!data/archive/.gitkeep

# Logs
logs/
airflow/logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db