# Environment
.env
.env.*

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs
logs/
*.log

# Airflow
airflow/logs/

# VSCode
.vscode/

# macOS
.DS_Store

# pgAdmin
pgadmin_data/

# Docker volumes
postgres_data/

# Local data (optional)
data/archive/*